.container {
  width: 1000px;
  margin: 0 auto;
}

.monitor {
  background-color: #000;
  height: 60%;
  padding: 19px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-place {
  background-image: url("../images/1.jpg");
  background-size: cover;
  border-radius: 11px;
  width: 70%;
  height: 70vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 93%;
}

.pagination-line {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.pagination {
  color: blue;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  background-color: blue;
  cursor: pointer;
  transition: all 0.15s ease;
}

#point-1:checked ~ label[for="text-point-1"]::after {
  content: "I am the Best Of the Best!";
}

#point-2:checked ~ label[for="text-point-2"]::after {
  content: "You are braver than you believe!";
}

#point-3:checked ~ label[for="text-point-3"]::after {
  content: "Learn from yesterday!";
}

#point-4:checked ~ label[for="text-point-4"]::after {
  content: "If things go wrong, don’t go with them!";
}

#point-1:checked ~ label[for="point-1"],
#point-2:checked ~ label[for="point-2"],
#point-3:checked ~ label[for="point-3"],
#point-4:checked ~ label[for="point-4"] {
  background-color: #000;
}

#point-2:checked ~ label[for="radio-image"] {
  background-image: url("../images/2.jpg");
}

#point-3:checked ~ label[for="radio-image"] {
  background-image: url("../images/3.png");
}

#point-4:checked ~ label[for="radio-image"] {
  background-image: url("../images/4.png");
}

.motivation-text {
  color: #fff;
}

input[type="radio"] {
  display: none;
}

label:hover:not(.motivation-text, .image-place) {
  border: 1px solid #fff;
  background-color: #fff;
}
